*{
    margin: 0;
    padding:0;
    text-align: center;
}
body{
    display: flex;
    background-color:#EEF5DB;
    justify-content: center;
    align-items: center;
    
}

h1{
    background-color: #4F6367;
    color: #EEF5DB;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
.container{
    margin:20vh;
    background-color: #B8D8D8;
    min-height:45vh;
    width: 45vh;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
form {
    margin:2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline:none;
    border-radius: 0.75rem;
}
input{
    height: 3rem;
    padding-left: 0.25rem;
    border:0.15rem solid grey;
    font-size: 1rem;
}
.dropdown{
    display: flex;
    margin: 3rem 2rem 3rem 2rem;
    justify-content: space-between;
    align-items: center;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.15rem solid grey;
    background-color:burlywood;
    width:8rem;
}
.dropdown i{
    font-size: 1.25rem;
}
#get-btn{
    height: 3rem;
    background-color: dodgerblue;
}
#get-btn:hover{
    border: 0.25rem solid white;
}